---
name: "{{ template_name }}"
runtime:
  name: python
main: infra
description: "{{ template_description }}"
config:
  pulumi:tags:
    value:
      pulumi:template: python
  datarobot:tracecontext: "{{ template_name }}"
