# Copyright 2025 DataRobot, Inc.
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#   http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.
"""
* Discover and load all modules with Pulumi resources in the infra directory.
* Discover and validate all required features flags
* Output specially exported variables to a configuration file
"""

from infra import *  # noqa: F403
import importlib
from pathlib import Path
from os import getenv

from datarobot_pulumi_utils.common.feature_flags import check_feature_flags
from datarobot_pulumi_utils.pulumi import default_collector, finalize

DEFAULT_EXPORT_PATH: Path = Path(
    getenv(
        "PULUMI_EXPORT_PATH", str(Path(__file__).parent.parent / "pulumi_config.json")
    )
)

INFRA_DIR = Path(__file__).parent / "infra"


def _import_module(filename: str) -> None:
    """
    Import a module by its filename and bring its contents into the current namespace.
    """
    module_name = f"infra.{filename[:-3]}"
    # Import the module
    module = importlib.import_module(module_name)

    # Import all from the module to the current namespace
    for attr in dir(module):
        if attr.startswith("_"):  # Skip private attributes
            continue
        globals()[attr] = getattr(module, attr)


def toggle_infra_modules():
    """
    Use specialized environment variables to change their extension from `.py` to `.py.inactive`.
    Specifically, if INFRA_ENABLE_<FILENAME> is set to 0, False, or false, the module is renamed
    to `<FILENAME>.py.inactive` and if it is set to 1, True, or true, the module is renamed
    back to `<FILENAME>.py`. If no specific environment variable is set, the module remains
    unchanged to allow for manual control as well.
    """
    # Mark inactive files inactive
    for file_path in INFRA_DIR.glob("*.py"):
        filename = file_path.name
        if filename == "__init__.py" or filename == "__main__.py":
            continue
        env_var = f"INFRA_ENABLE_{filename[:-3].upper()}"
        if getenv(env_var, "").lower() in ("0", "false"):
            # Rename to inactive
            new_name = file_path.with_suffix(".py.inactive")
            file_path.rename(new_name)
    # Mark inactive files active if variable is set
    for file_path in INFRA_DIR.glob("*.py.inactive"):
        filename = file_path.name
        env_var = f"INFRA_ENABLE_{filename[:-12].upper()}"
        if getenv(env_var, "").lower() in ("1", "true"):
            # Rename back to active
            new_name = file_path.with_suffix("")
            if not new_name.exists():
                file_path.rename(new_name)


def import_infra_modules():
    """
    Dynamically import all top-level modules in the infra package.
    This function is executed after the initial import from __init__.
    """
    infra_dir = Path(__file__).parent / "infra"
    # Get all Python files in the infra directory
    for file_path in infra_dir.glob("*.py"):
        filename = file_path.name
        if filename == "__init__.py" or filename == "__main__.py":
            continue
        _import_module(filename)


def check_all_feature_flags():
    """
    Discover and check all feature flag files in the infra directory.

    See the README.md in the `feature_flags` folder for more detail and example
    feature flag file examples.
    """
    infra_dir = Path(__file__).parent / "feature_flags"
    for feature_flag_file in infra_dir.glob("*.y*ml"):
        if feature_flag_file.is_file():
            check_feature_flags(feature_flag_file)


# Validate all feature flags
check_all_feature_flags()

# Toggle infra modules based on environment variables
toggle_infra_modules()

# Import all non-disabled modules
import_infra_modules()

# Export outputs using datarobot_pulumi_utils.pulumi.export to a JSON
# file for use in local development.
default_collector.output_path = DEFAULT_EXPORT_PATH
finalize()
