---
name: "{{ template_name }}"
description: |-
  {{ template_description }}
runtime:
  name: python
  options:
    toolchain: uv
config:
  pulumi:tags:
    value:
      pulumi:template: python
  datarobot:tracecontext: "{{ template_name }}"
