---
pipeline:
  name: communityRelease
  identifier: communityRelease
  tags: {}
  template:
    templateRef: org.releaseDataRobotCommunity
    versionLabel: v0.1.0
  projectIdentifier: {{ private_repo_name | replace("-","") }}
  orgIdentifier: {{ harness_org_id }}
