community-repo: {{ community_template_name }}

# File system entries to exclude from copying to the `datarobot-community` version of the repository.
exclude:
  - .ci/
  - .datarobot/
  - .github/.licenserc.yaml
  - .github/CODEOWNERS
  - .github/license-check.yml
  - .harness/
  - CODEOWNERS
  - DRCODEOWNERS
  - RELEASE.yaml
  - pipelineController.yaml
  - tests/
