---
# Name of the `datarobot-community` version of the `datarobot` org repository.
community-repo: {{ community_template_name }}

# File system entries to exclude from copying to the `datarobot-community` version of the repository.
exclude:
  - .ci/
  - .cicd/
  - .datarobot/
  - .github/.licenserc.yaml
  - .github/CODEOWNERS
  - .github/workflows/license-check.yml
  - .gitignore
  - .harness/
  - CODEOWNERS
  - DRCODEOWNERS
  - Jenkinsfile
  - RELEASE.yaml
  - pipelineController.yaml
  - tests/
