---
pipeline:
  name: communityRelease
  identifier: communityRelease
  projectIdentifier: {{ private_repo_name }}
  orgIdentifier: CFDS
  tags: {}
  stages:
    - stage:
        name: communityRelease
        identifier: communityRelease
        template:
          templateRef: org.communityRelease
          versionLabel: v0.1.0
