---
inputSet:
  name: github
  identifier: github
  projectIdentifier: {{ private_repo_name | replace("-","") }}
  orgIdentifier: {{ harness_org_id }}
  pipeline:
    identifier: trivyScan
    template:
      templateInputs:
        properties:
          ci:
            codebase:
              repoName: {{ private_repo_name }}
              build:
                type: branch
                spec:
                  branch: <+trigger.sourceBranch>
