---
pipeline:
  name: trivyScan
  identifier: trivyScan
  projectIdentifier: {{ private_repo_name | replace("-","") }}
  orgIdentifier: {{ harness_org_id }}
  tags: {}
  template:
    templateRef: org.trivySecurityScan
    versionLabel: v0.1.0
    templateInputs:
      properties:
        ci:
          codebase:
            repoName: <+input>
            build: <+input>
