---
trigger:
  name: github
  identifier: github
  enabled: true
  stagesToExecute: []
  description: ""
  tags: {}
  encryptedWebhookSecretIdentifier: ""
  orgIdentifier: {{ harness_org_id }}
  projectIdentifier: {{ private_repo_name | replace("-","") }}
  pipelineIdentifier: trivyScan
  source:
    type: Webhook
    spec:
      type: Github
      spec:
        type: PullRequest
        spec:
          connectorRef: account.svc_harness_git1
          autoAbortPreviousExecutions: false
          payloadConditions:
            - key: changedFiles
              operator: Equals
              value: requirements.txt
          headerConditions: []
          repoName: {{ private_repo_name }}
          actions:
            - Open
            - Synchronize
  pipelineBranchName: main
  inputSetRefs:
    - github
